.navbar-light {
    background-color: white;
/*    border-bottom: lightgrey solid 2px;
*/}

.logo {
    height: 200px;

}

.oi-cart:before {
    height: 50px;
}

h1 {
    font-family: 'Alex Brush', cursive;
    color: lightgray;
}

.main {
    margin-top: 8%;
}

#shop-btn {
    margin-top: 2%;
}
