{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-collapse collapse dual-nav w-100">
    <div class="navbar-nav ml-5">
        <a class="nav-item nav-link" href="#">Our Story</a>
    </div>
  </div>
  
  <a href="/" class="navbar-brand mx-auto d-block text-center w-100"><img src="static/images/Logo-REV-NoBackground.png" class="logo" alt="logo"></a>


  <div class="navbar-collapse collapse dual-nav w-100">
    <div class="collapse navbar-collapse justify-content-end" >
      <div class="navbar-nav mr-5">
        <a class="nav-item nav-link" href="#">Log In</a>
        <a class="nav-item nav-link" href="#"><span class="oi oi-cart" title="shopping cart" aria-hidden="true"></span>&nbsp;Cart</a> 
      </div>
    </div>
  </div>

</nav>

<div class="container">
    <div class="card-deck">
        <div class="row">
          <div class="card">
            <img class="card-img-top" src="/static/images/sari-1.JPG" alt="Sari 1">
            <div class="card-body">
              <h5 class="card-title">Sari name</h5>
              <!-- <p class="card-text">Desc</p> -->
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/static/images/sari-2.JPG" alt="Sari 2">
            <div class="card-body">
              <h5 class="card-title">Sari name</h5>
              <!-- <p class="card-text">Desc</p> -->
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/static/images/sari-3.jpg" alt="Sari 3">
            <div class="card-body">
              <h5 class="card-title">Sari name</h5>
              <!-- <p class="card-text">Desc</p> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <img class="card-img-top" src="/static/images/sari-4.JPG" alt="Sari 4">
            <div class="card-body">
              <h5 class="card-title">Sari name</h5>
              <!-- <p class="card-text">Desc</p> -->
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="/static/images/sari-5.JPG" alt="Sari 5">
            <div class="card-body">
              <h5 class="card-title">Sari name</h5>
              <!-- <p class="card-text">Desc</p> -->
            </div>
          </div>
        </div>

    </div>
</div>





{% endblock %}